<a id="e" href="kowabunga">link</a>

<script>
var e = document.getElementById('e')
e.addEventListener('click', showDontLink)

function showDontLink(event){
  event.preventDefault()
  alert(this.getAttribute('href'))
}
</script>
